<template name="common-head">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/unpoly@3.8.0/unpoly.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.8.0/unpoly.min.css">

  <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">

  <link rel="stylesheet" href="../libs/style.css">
  <script src="../libs/page.js" defer></script>
</template>

<template name="note-view">

  <head>
    <use template="common-head"></use>
    <title>note page</title>
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="mt-4 card mx-auto shadow-sm rounded">
        <div class="card-body">
          <use template="article"></use>
        </div>
        <div class="card-footer">
          <div class="tags">
            <use template="tags"></use>
          </div>
        </div>
      </div>
    </div>

  </body>
</template>

<template name="about-page">

</template>